USE [master]
GO
/****** Object:  Database [SchoolManagementDB]    Script Date: 10/20/2025 6:40:06 PM ******/
CREATE DATABASE [SchoolManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SchoolManagementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SchoolManagementDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SchoolManagementDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SchoolManagementDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SchoolManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SchoolManagementDB]
GO
/****** Object:  Table [dbo].[Devices]    Script Date: 10/20/2025 6:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Devices](
	[DeviceId] [int] IDENTITY(1,1) NOT NULL,
	[DeviceCode] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[Type] [nvarchar](100) NULL,
	[Status] [nvarchar](50) NULL,
	[Location] [nvarchar](200) NULL,
	[LectureHallId] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DeviceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EquipmentReports]    Script Date: 10/20/2025 6:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipmentReports](
	[ReportId] [int] IDENTITY(1,1) NOT NULL,
	[DeviceId] [int] NULL,
	[ReportedByUserId] [int] NULL,
	[ReportDate] [datetime2](7) NOT NULL,
	[Description] [nvarchar](2000) NULL,
	[Status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LectureHalls]    Script Date: 10/20/2025 6:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LectureHalls](
	[LectureHallId] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Capacity] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[Note] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[LectureHallId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 10/20/2025 6:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 10/20/2025 6:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserRoleId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[AssignedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/20/2025 6:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](200) NOT NULL,
	[DisplayName] [nvarchar](200) NULL,
	[Email] [nvarchar](200) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Devices] ON 

INSERT [dbo].[Devices] ([DeviceId], [DeviceCode], [Name], [Description], [Type], [Status], [Location], [LectureHallId], [CreatedAt]) VALUES (1, N'D-002', N'Máy tính PC-01', N'? c?ng 500GB', N'Máy tính', N'Ho?t d?ng', N'P203', 2, CAST(N'2025-10-20T11:26:50.3777534' AS DateTime2))
INSERT [dbo].[Devices] ([DeviceId], [DeviceCode], [Name], [Description], [Type], [Status], [Location], [LectureHallId], [CreatedAt]) VALUES (2, N'D-010', N'Router Cisco R1', N'Firmware cu', N'Router', N'B?o trì', N'Server Room', NULL, CAST(N'2025-10-20T11:26:50.3777534' AS DateTime2))
INSERT [dbo].[Devices] ([DeviceId], [DeviceCode], [Name], [Description], [Type], [Status], [Location], [LectureHallId], [CreatedAt]) VALUES (3, N'D-011', N'B?ng tuong tác', N'Màn hình v?', N'Thi?t b? trình chi?u', N'H?ng', N'P102', 3, CAST(N'2025-10-20T11:26:50.3777534' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Devices] OFF
GO
SET IDENTITY_INSERT [dbo].[LectureHalls] ON 

INSERT [dbo].[LectureHalls] ([LectureHallId], [Code], [Name], [Capacity], [Status], [Note]) VALUES (1, N'A101', N'Phòng h?c l?n A101', 120, N'Tr?ng', NULL)
INSERT [dbo].[LectureHalls] ([LectureHallId], [Code], [Name], [Capacity], [Status], [Note]) VALUES (2, N'B202', N'Phòng máy B202', 60, N'Ðang s? d?ng', NULL)
INSERT [dbo].[LectureHalls] ([LectureHallId], [Code], [Name], [Capacity], [Status], [Note]) VALUES (3, N'C303', N'Phòng lab C303', 40, N'B?o trì', NULL)
SET IDENTITY_INSERT [dbo].[LectureHalls] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description]) VALUES (1, N'Admin', N'Quản trị hệ thống')
INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description]) VALUES (2, N'GiảngVien', N'Giảng viên')
INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description]) VALUES (3, N'SinhVien', N'Sinh viên')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRoles] ON 

INSERT [dbo].[UserRoles] ([UserRoleId], [UserId], [RoleId], [AssignedAt]) VALUES (1, 1, 1, CAST(N'2025-10-20T11:26:39.7104343' AS DateTime2))
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [DisplayName], [Email], [IsActive], [CreatedAt]) VALUES (1, N'admin', N'HASHED_PASSWORD_PLACEHOLDER', N'Administrator', N'admin@local', 1, CAST(N'2025-10-20T11:26:34.9218930' AS DateTime2))
INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [DisplayName], [Email], [IsActive], [CreatedAt]) VALUES (2, N'gv01', N'HASHED_PASSWORD_PLACEHOLDER', N'Nguy?n Van A', N'gv01@local', 1, CAST(N'2025-10-20T11:26:34.9218930' AS DateTime2))
INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [DisplayName], [Email], [IsActive], [CreatedAt]) VALUES (3, N'sv01', N'HASHED_PASSWORD_PLACEHOLDER', N'Sinh viên B', N'sv01@local', 1, CAST(N'2025-10-20T11:26:34.9218930' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Devices__AFFB3E955A9F70E2]    Script Date: 10/20/2025 6:40:06 PM ******/
ALTER TABLE [dbo].[Devices] ADD UNIQUE NONCLUSTERED 
(
	[DeviceCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Devices_DeviceCode]    Script Date: 10/20/2025 6:40:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_Devices_DeviceCode] ON [dbo].[Devices]
(
	[DeviceCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Devices_Status]    Script Date: 10/20/2025 6:40:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_Devices_Status] ON [dbo].[Devices]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__LectureH__A25C5AA711F4DA38]    Script Date: 10/20/2025 6:40:06 PM ******/
ALTER TABLE [dbo].[LectureHalls] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LectureHalls_Code]    Script Date: 10/20/2025 6:40:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_LectureHalls_Code] ON [dbo].[LectureHalls]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B6160409C3CB4]    Script Date: 10/20/2025 6:40:06 PM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4EADE1427]    Script Date: 10/20/2025 6:40:06 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Devices] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[EquipmentReports] ADD  DEFAULT (sysutcdatetime()) FOR [ReportDate]
GO
ALTER TABLE [dbo].[EquipmentReports] ADD  DEFAULT ('Open') FOR [Status]
GO
ALTER TABLE [dbo].[UserRoles] ADD  DEFAULT (sysutcdatetime()) FOR [AssignedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Devices]  WITH CHECK ADD  CONSTRAINT [FK_Devices_LectureHall] FOREIGN KEY([LectureHallId])
REFERENCES [dbo].[LectureHalls] ([LectureHallId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Devices] CHECK CONSTRAINT [FK_Devices_LectureHall]
GO
ALTER TABLE [dbo].[EquipmentReports]  WITH CHECK ADD  CONSTRAINT [FK_Reports_Device] FOREIGN KEY([DeviceId])
REFERENCES [dbo].[Devices] ([DeviceId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[EquipmentReports] CHECK CONSTRAINT [FK_Reports_Device]
GO
ALTER TABLE [dbo].[EquipmentReports]  WITH CHECK ADD  CONSTRAINT [FK_Reports_User] FOREIGN KEY([ReportedByUserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[EquipmentReports] CHECK CONSTRAINT [FK_Reports_User]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Role]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_User]
GO
/****** Object:  StoredProcedure [dbo].[usp_GetDevices]    Script Date: 10/20/2025 6:40:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_GetDevices]
    @Status NVARCHAR(50) = NULL,
    @Keyword NVARCHAR(400) = NULL
AS
GO
USE [master]
GO
